// Colors
$blue: #1e2f54;
$purple: #4a90e2;
$red: #C32424;
$orange: #fa8f24;
$green: #259A51;
$red-decoration: #e8151b; 

// Gray color variables
$white: #fff;
$gray-100: #F4F6F8;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$black: #000;

// Theme color variables
$primary: #E8151B;
$secondary: #07233E;
$light: #EEEEEE;
$dark: #222;

// Text color
$title: #333;
$text: #474747;
