// Form
$input-placeholder-color: $gray-400;
$form-label-margin-bottom: .2rem;
$form-label-font-size: 0.875rem;
$form-label-font-style: null;
$form-label-font-weight: 400;
$form-label-color: $gray-600;

$input-btn-focus-width: 1px;
$input-btn-focus-color-opacity: .025;
$input-btn-focus-color: #00000029;
$input-btn-focus-blur: 10px;
$input-btn-focus-box-shadow: 0 3px $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;
