// Typography

// Font size
$font-size: 1.1rem;

// Font weight
$font-weight-light: 400;
$font-weight: 600;
$font-weight-bold: 800;

// Lihe height
$title-line-height: 1.1;
$text-line-height: 1.4;

// Font family
$title-font: 'Manrope', sans-serif;
$text-font: 'Manrope', sans-serif;
